*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100%;
    background-color: rgb(154, 168, 133);
}
.container{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.left-container{
    background-color: pink;
    height: 70%;
    width: 50%;
}
.right-container{
    background-color: goldenrod;
    height: 70%;
    width: 50%;
}
