<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div class="flash">
        <!-- Display error messages -->
        <% if (messages.error && messages.error.length> 0) { %>
            <div class="alert alert-danger">
                <ul>
                    <% messages.error.forEach(function(msg) { %>
                        <li>
                            <%= msg %>
                        </li>
                        <% }); %>
                </ul>
            </div>
            <% } %>

                <!-- Display success messages -->
                <% if (messages.success && messages.success.length> 0) { %>
                    <div class="alert alert-success">
                        <ul>
                            <% messages.success.forEach(function(msg) { %>
                                <li>
                                    <%= msg %>
                                </li>
                                <% }); %>
                        </ul>
                    </div>
                    <% } %>
    </div>

    <div class="form-container">
        <h2>Register</h2>


        <!-- Registration Form -->
        <form id="registrationForm" action="/users/register" method="post">

            <input type="text" id="fullname" name="fullname" placeholder="Username" required>


            <input type="email" id="email" name="email" placeholder="Email" required>

            <input type="password" id="password" placeholder="Password" name="password" required>

            <button type="submit">Register</button>
            <!-- Inside your EJS template -->
            <div class="register">
                <p>Already have an Account?</p>
                <a href="/login">&rarr;</a>
            </div>

        </form>
    </div>

    <script src="script.js"></script>
</body>

</html>